Attachments/one1_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/webservices">
        
  <xsd:element ibmSchExtn:docRoot="true" name="UploadFileRequest">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="FileName" type="xsd:string"/>
                    
        <xsd:element name="FileDescription" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="UploadFileResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="Status" type="xsd:string"/>
                    
        <xsd:element name="ReferenceId" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
